html, body {
    width: 100%;
    margin: 0px;
}

body {
    background-color: #F3F3F3;
    background-color: white;
    font-family: Arial;
}

h2 {
    text-align: center;
}

#map {
    height: 600px;
}

.wrap {
    width: 100%;
    height: 100%;
    margin: 0;
}
.left-panel {
    width: 360px;
    height: 100%;
    float: left;
    text-align: center;
}

.content {
    width: 100%;
}

.width-setting {
    vertical-align: middle;
}

.reset {
    width: 120px;
    margin: auto;
}

.div-table {
    margin: 8 0;
    display: table;
    width: auto;
}

.div-table-row {
    display: table-row;
    width: auto;
    clear: both;
}

.div-table-col {
    float: left; /* fix for  buggy browsers */
    display: table-column;
    width: 120px;
    max-width: 120px;
}

.div-table-col input {
    width: 120px;
    margin: 0;
}

.div-table-col .width-type {
    text-align: left;
}

.iconSidebarControl_expanded {
    height: 1000px;
}

.iconSidebarControl-content {
  position: absolute;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  background-color: rgb(255, 255, 255);
  overflow-x: hidden;
  overflow-y: auto;
}

.container {
    width: 360px;
    padding: 27px 27px 23px 15px;
}

.btn-default {

    color: #FFF;
    background-color: #49677d;
    border: 1px solid #49677d;
    font-weight: 600;
    transition: all 0.23s ease;
    width: 94%;
    margin-bottom: 17px;
}

.btn-default:hover {

    color: #FFF;
    background-color: #5f7f96;
    border: 1px solid #5f7f96;


    /*color: #49677d;*/
    /*background-color: #fff;*/
    /*border: 1px solid #49677d;*/

}

.btn-default.active, .btn-default:active, .open > .dropdown-toggle.btn-default {


    color: #49677d!important;
    background-color: #fff!important;
    border: 1px solid #49677d!important;

}

.row {
    margin-right: -15px;
    margin-left: -15px;
    margin-bottom: 27px;
}

label {
    display: inline-block;
    width: 50%;
    margin-bottom: 5px;
    font-weight: 400;
    color: rgba(27,68,97,0.7);
    font-size: 17px;
    float: left;
    text-align: left;
    line-height: 40px;
    padding-left: 7px;
}

.form-control:focus {
    border-color:rgba(27,68,97,0.3) ;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
}
.form-control {
    width: 46%;
    text-align: center;
    display: inline-flex;
    height: 35px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #49677d;
    font-weight: 600;
    background-color: #fff;
    background-image: none;
    border: 1px solid rgba(27,68,97,0.3);
    /*border-top-color: rgb(204, 204, 204);*/
    /*border-right-color: rgb(204, 204, 204);*/
    /*border-bottom-color: rgb(204, 204, 204);*/
    /*border-left-color: rgb(204, 204, 204);*/
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    margin: 6px;
}

.content {
    width: 100%;
    padding: 0 7% 0 7%;
}

.nav-tabs {
    border-bottom: 1px solid rgba(27,68,97,0.1);
    border-bottom: 2px solid rgba(27,68,97,0.1);
    margin-bottom: 23px;
    margin-top: 23px;
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover {
    font-weight: 700;
    color: rgba(27,68,97,0.7);
    cursor: default;
    background-color: #fff;
    outline: none;
    border: 2px solid rgba(27,68,97,0.1);
    border-bottom-color: rgb(221, 221, 221);
    border-bottom-color: transparent;
}

a {
    font-weight: 700;
    color: rgba(27,68,97,0.5);
}

a:hover {
    font-weight: 700;
    color: rgba(27,68,97,0.7);
}

.nav > li {
    position: relative;
    display: block;
    width: 50%;
}

.nav > li > a:hover {
    background: rgba(27,68,97,0.02);

}

.nav-tabs > li {
    float: left;
    margin-bottom: -2px;
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover {
    /*color: #555;*/
    /*cursor: default;*/
    background-color: rgba(27,68,97,0.02)!important;
    /*border: 2px solid #ddd;*/
    /*border-bottom: 2px solid #d7e3e2;*/
    border-bottom: 2px solid #e3f3f2;}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    color: #49677d;
}

.h2, h2 {
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 34px;
}


.checkbox label, .radio label {
    min-height: 20px;
    padding-left: 20px;
    margin-bottom: 0;
    font-weight: 400;
    cursor: pointer;
    line-height: 20px;
    margin-bottom: 20px;
    margin-right: 0px;
    justify-content: space-between;
    display: inherit;
    position: initial;
    float: inline-end;
    /*font-size: 14px;*/
    padding-right: 2px;
}

.checkbox, .radio {
    position: relative;
    display: block;
    margin-top: 13px;
    /*margin-bottom: -5px;*/
}

.left-panel {
    width: 360px;
    height: 100%;
    float: left;
    text-align: center;
    background: rgba(116,194,189,0.2);
    overflow-y: normal;
    border-right: 1px dotted;

}

.highlight.bottom-selection {
    border-right: 5px dotted;
}